force-app/main/default/flows/Order_Quick_Summary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Order_Quick_Summary_Report</name>
        <label>Order Quick Summary Report</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>Order_Quick_Summary</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Order_Quick_Summary_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:OrderSummary</name>
            <value>
                <elementReference>Get_Order_Summary</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Order_Quick_Summary</nameSegment>
        <outputParameters>
            <assignToReference>PromptResponseText</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Order Quick Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Quick Summary</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Order_Summary</name>
        <label>Get Order Summary</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Quick_Summary_Report</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Quick_Summary_Field_with_Prompt_Response</name>
        <label>Update Order Quick Summary Field with Prompt Response</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Order_Quick_Summary__c</field>
            <value>
                <elementReference>PromptResponseText</elementReference>
            </value>
        </inputAssignments>
        <object>OrderSummary</object>
    </recordUpdates>
    <screens>
        <name>Order_Quick_Summary_Screen</name>
        <label>Order Quick Summary Screen</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Order_Quick_Summary_Field_with_Prompt_Response</targetReference>
        </connector>
        <fields>
            <name>Prompt_Response_Order_Quick_Summary</name>
            <fieldText>&lt;p&gt;{!PromptResponseText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Summary</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>PromptResponseText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
