force-app/main/default/flows/Shipping_Policy_Verification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_State_Name</name>
        <label>Assign State Name</label>
        <locationX>739</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>StateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Summary.OriginalOrder.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Fulfillment_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fulfilled_To_State</name>
        <label>Fulfilled To State</label>
        <locationX>279</locationX>
        <locationY>447</locationY>
        <assignmentItems>
            <assignToReference>StateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Fulfillment_Order.FulfilledToState</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Delivery_Group_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Message_Error</name>
        <label>Message Error</label>
        <locationX>609</locationX>
        <locationY>830</locationY>
        <assignmentItems>
            <assignToReference>Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Shipping Policy failed since only Default Delivery Method needed to ship to AK or HI</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Message_Pass</name>
        <label>Message Pass</label>
        <locationX>873</locationX>
        <locationY>830</locationY>
        <assignmentItems>
            <assignToReference>Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Shipping Policy Verification passed</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Shipping_Method</name>
        <label>Shipping Method</label>
        <locationX>741</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>ShippingMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Delivery_Group_Summary.OrderDeliveryMethodId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Shipping_Method_Name</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Rule_1_Shipping_Policy</name>
        <label>Check Rule 1 - Shipping Policy</label>
        <locationX>742</locationX>
        <locationY>722</locationY>
        <defaultConnector>
            <targetReference>Message_Pass</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All State but AK or HI with only Default Delivery Method</defaultConnectorLabel>
        <rules>
            <name>AK_or_HI_not_with_Default_Delivery_Method</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>StateName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StateName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ShippingMethodName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Default Delivery Method</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message_Error</targetReference>
            </connector>
            <label>AK or HI not with Default Delivery Method</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Shipping Policy Verification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Shipping Policy Verification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Fulfillment_Order</name>
        <label>Get Fulfillment Order</label>
        <locationX>277</locationX>
        <locationY>297</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fulfilled_To_State</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FulfillmentOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Summary</name>
        <label>Get Order Summary</label>
        <locationX>741</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_State_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Order_Delivery_Group_Summary</name>
        <label>Order Delivery Group Summary</label>
        <locationX>741</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Shipping_Method</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderDeliveryGroupSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Shipping_Method_Name</name>
        <label>Shipping Method Name</label>
        <locationX>741</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Rule_1_Shipping_Policy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ShippingMethod</elementReference>
            </value>
        </filters>
        <object>OrderDeliveryMethod</object>
        <outputAssignments>
            <assignToReference>ShippingMethodName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>615</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Order_Summary</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Shipping Policy passed.</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShippingMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ShippingMethodName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
